doctype 5
html
	head
		title= title
		style.
			body {
				padding: 50px;
				font: 16px Helvetica, Arial;
			}
		script(src='/underscore/underscore-min.js')
		script(src='/jquery/jquery.min.js')
		script(src='/backbone/backbone-min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/react/react.min.js')
		script(src='/react/JSXTransformer.js')
		script(src='/js/index.js')
		script(type='text/jsx', src='/js/components.js')
		link(rel='stylesheet', href='/css/style.css')
	body
		h2= title
		block content
